<div id="<%= dom_id workout %>">
  <div>
    <strong>Title:</strong>
    <%= workout.title %>
  </div>

  <div>
    <strong>Date performed:</strong>
    <%= workout.date_performed %>
  </div>

  <div>
    <strong>User:</strong>
    <%= workout.user_id %>
  </div>

</div>
