<div id="<%= dom_id workout %>">
  <div>
    <strong>Название:</strong>
    <%= workout.title %>
  </div>

  <div>
    <strong>Дата тренировки:</strong>
    <%= workout.date_performed %>
  </div>

  <div>
    <strong>Пользователь:</strong>
    <%= workout.user_id %>
  </div>

</div>
