<% content_for :title, "Изменение тренировки" %>

<h1>Изменить тренировку</h1>

<%= render "form", workout: @workout %>

<br>

<div>
  <%= link_to "Показать эту тренировку", @workout %> |
  <%= link_to "Назад к тренировкам", workouts_path %>
</div>
