<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Добро пожаловать в FitDiary!</h1>
    <p class="col-md-8 fs-4">Это ваш персональный помощник для контроля питания и тренировок. Выберите раздел в меню сверху, чтобы начать.</p>
    <%= link_to "Добавить еду", new_food_entry_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Новая тренировка", new_workout_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
</div>
