<% content_for :title, "Редактирование записи о приёме пищи" %>

<h1>Editing food entry</h1>

<%= render "form", food_entry: @food_entry %>

<br>

<div>
  <%= link_to "Показать данную запись о приёме пищи", @food_entry %> |
  <%= link_to "Вернуться к записям приёма пищи", food_entries_path %>
</div>
