<div class="row justify-content-center">
  <div class="col-md-6">
    
    <h1 class="text-center mb-4">Новая запись</h1>

    <div class="neo-card">
      <%= render "form", food_entry: @food_entry %>
    </div>

    <div class="text-center mt-3">
      <%= link_to "Назад к списку", food_entries_path, class: "fw-bold text-dark" %>
    </div>
    
  </div>
</div>
