<% content_for :title, "Editing measurement" %>

<h1>Изменение замеров</h1>

<%= render "form", measurement: @measurement %>

<br>

<div>
  <%= link_to "Показать данные замеры", @measurement %> |
  <%= link_to "Назад к списку замеров", measurements_path %>
</div>
