<div id="<%= dom_id exercise %>">
  <div>
    <strong>Name:</strong>
    <%= exercise.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= exercise.description %>
  </div>

  <div>
    <strong>Muscle group:</strong>
    <%= exercise.muscle_group_id %>
  </div>

</div>
