<div id="<%= dom_id workout_item %>">
  <div>
    <strong>Comment:</strong>
    <%= workout_item.comment %>
  </div>

  <div>
    <strong>Workout:</strong>
    <%= workout_item.workout_id %>
  </div>

  <div>
    <strong>Exercise:</strong>
    <%= workout_item.exercise_id %>
  </div>

</div>
