<% content_for :title, "New food category" %>

<h1>New food category</h1>

<%= render "form", food_category: @food_category %>

<br>

<div>
  <%= link_to "Back to food categories", food_categories_path %>
</div>
